.App {
  text-align: center;
}

.container {
  display: flex;
  direction: column;
}

.header {
  background-color: yellow
}

.connections {
  background-color: red;
  width: 500px;
  height: 800px;
}